.*.d
.*.dd
*.a
*.la
*.lo
*.oo
*.so
*.o
.deps/
.dirstamp
.libs/
Makefile
Makefile.in

/extensions/GNUmakefile
/extensions/initext.c
/extensions/initext?.c
/extensions/matches?.man
/extensions/targets?.man

/include/xtables.h
/include/iptables/internal.h

/aclocal.m4
/autom4te.cache/
/build-aux/
/config.*
/configure
/libtool
/stamp-h1
